
.idea/inspectionProfiles/profiles_settings.xml

.idea/JARR-disaster-relief.iml

.idea/modules.xml

.idea/misc.xml

.idea/rSettings.xml

.idea/vcs.xml

.idea/workspace.xml

backend/config/__pycache__/dbconfig.cpython-37.pyc

backend/dao/__pycache__/authentication.cpython-37.pyc

backend/dao/__pycache__/person.cpython-37.pyc

backend/dao/__pycache__/supply.cpython-37.pyc

backend/handler/__pycache__/authentication.cpython-37.pyc

backend/handler/__pycache__/person.cpython-37.pyc

backend/handler/__pycache__/request.cpython-37.pyc

backend/handler/__pycache__/supply.cpython-37.pyc

backend/__pycache__/

backend/dao/__pycache__/

backend/handler/__pycache__/
